.first{
    color: blue;
}

.third{
    color: blueviolet ;
}
.four{
    color: darkgreen;
}
div .five, div .five{
    color: chocolate;

}
.sev{
    margin-left: 30%;
    padding: 100px;
    background-color: deepskyblue;
   

}
 