@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Geologica:wght@100;700;900&family=Kablammo&family=Palette+Mosaic&family=Roboto+Mono:ital,wght@0,100;0,200;1,100&family=Teko:wght@300&family=Tilt+Prism&display=swap');

 /* font-family: 'Bagel Fat One', cursive;
  font-family: 'Geologica', sans-serif;
  font-family: 'Kablammo', cursive;
  font-family: 'Palette Mosaic', cursive;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Teko', sans-serif;
  font-family: 'Tilt Prism', cursive;*/
h1{
    color:blue;
    background-color:;
    font-size: 30px;
    margin: 40px 40px 40px 40px;
    font-family: 'Kablammo', cursive;
  }
  
  p{
    color:blue;
    background-color:plum;
    font-size: 30px;
    margin: 40px 40px 40px 40px;
    font-family: 'Teko', sans-serif;
  }